.Home form {
    display: flex;
    flex-direction: column;
}

.Home-label {
    padding: 15px 0px;
}

.Home input {
    display: block;
    width: 100%;
    height: 3em;
    border: none;
    background-color: #eee;
    text-indent: 10px;
    border-bottom: 2px solid #999;
}

.Home input[name="locationZIP"] {
    background-image: url(img/location.svg);
    background-repeat: no-repeat;
    text-indent: 40px;
    background-position: 5px;
}

.Home input:focus {
    outline-color: #999;
}

.Home button {
    height: 3em;
    margin: 20px 0px;
    background-color: #003d5c;
    color: #eee;
}

.Home button:disabled {
    background-color: #999999;
}
