.MainCard {
    border-radius: 35px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.MainCard-inner {
    min-height: inherit;
    min-width: inherit;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
